<script src="/socket.io/socket.io.js"></script>

<script>
	// use the socket.io server to connect to localhost:8080 here
	var server = io.connect('http://localhost:8999');

	server.on('connect', function() {
		server.emit('question', 'why?');
	});

	server.on('question', function(question){
		console.log(question);
	});
</script>
